.slide-contenedor {
    max-width: 100%;
    max-height: 100vh;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    margin: auto;
    background-color: black;
}

.miSlider {
    display: none;
    transition: 2s;
    max-height: 100vh;
}

.miSlider img {
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    object-fit: cover;
    vertical-align: top;
    transition: 2s;
}

.direcciones {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.direcciones a {
    color: #fff;
    display: inline-block;
    padding: 10px 25px;
    margin: 30px;
    font-size: 35px;
    border-radius: 30px;
    text-decoration: none;
}

.direcciones a:hover {
    background: rgba(255, 255, 255, 0.5);
    transition: .5s;
}

.barras {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.barra {
    cursor: pointer;
    height: 3px;
    width: 30px;
    margin: 0 5px;
    background-color: #dcdde1;
    display: inline-block;
    margin-left: 3px;
}

.active {
    background-color: #1EBAFD;
}

.fade {
    animation: fadeIn ease-in-out .5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.carrousel-title {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Signika Negative', sans-serif;
    font-size: 35px;
}

@media (max-width:768px) {
    .carrousel-title{
        font-size: 28px;
    } 
    .carrousel-title p{
        font-size: 25px;
    }
}
@media (max-width:581px) {
    .carrousel-title{
        font-size: 25px;
    } 
    .carrousel-title p{
        font-size: 17px;
    }
}
@media (max-width:425px){
    .direcciones a{
        margin: 5px;
    }
}