@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Signika Negative", sans-serif;
    background-color: white;
}

section {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2 {
    color: #222f3e;
    text-decoration:none;
    font-size: 35px;
    margin: 20px auto;
    text-align: center;
}



section p {
    color: #222f3e;
    text-align: center;
    margin: 20px auto;
}

.formulario {
    margin: 3px auto;
    width: auto;
    background-color: #858585;
    padding: 1em;
    padding: 0 auto;
    border-radius: 4px;
    box-shadow: 0px 4px 15px -2px rgba(0, 0, 0, 0.75);
}

.formulario_label,
.formulario_input,
.formulario_button {
    padding: 1px;
    display: block;
}

.formulario_label {
    font-size: 17px;
    position: absolute;
    z-index: 1;
    margin-top: 17px;
    margin-left: 15px;
    transition: 0.2s;
    color: #4E4E4E;
}

.formulario_input {
    width: 30vw;
    font-size: 15px;
    border: 2px solid #4D4D4D;
    margin-bottom: 30px;
    padding: 20px;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: 0.2s all;
    color: #222f3e;
}

.formulario_input:focus .formulario_label {
    margin-top: -150px;
    background-color: white;
    border-radius: 20px;
}

.fijar {
    margin-top: 3px;
    font-size: 13px;
    margin-left: 10px;
}

.formulario .formulario_button {
    width: 32.2vw;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
    background-color: #e1b12c;
    font-size: 17px;
    transition: 0.2s all;
}

.formulario .formulario_button:hover {
    background-color: #222f3e;
    cursor: pointer;
}

.link_mensajes {
    margin-top: 20px;
    text-decoration: none;
    font-family: sans-serif;
    color: #7f93b8;
}

.alerta {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation-name: message;
    animation-duration: .5s;
}

.card {
    position: absolute;
    top: 34vh;
    background-color: white;
    height: 250px;
    width: 500px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img {
    margin: 30px;
}

.card h2 {
    margin: 0 20px;
    text-align: center;
}

.card a {
    margin-top: 20px;
}

#volver {
    cursor: pointer;
}

@keyframes message {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}

/*----DIV INFORMACION----*/
.informacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    background-color:#222f3e;
}

.informacion .informacion-box {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 10px 50px;
    width: 50vw;
    text-align: center;
    color: #feca57;
    padding: 20px 0;
    flex-direction: column;
}

.informacion .informacion-box-especial {
    text-align: left;
}

.titulo-icono-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-icono {
    margin-left: 10px;
}

.informacion #metodos_pago {
    color: #feca57;
    margin-left: 20px;
    text-align: left;
}

.metodo_img {
    font-size: 5rem;

}

.informacion .informacion-box h3 {
    font-size: 28px;
}

.informacion-box .social,
.informacion-box .direccion,
.informacion-box .telefono {
    display: flex;
    padding: 10px 15px;
    font-size: 21px;
}

.informacion-box .social a {
    color: #feca57;
    text-decoration: none;
    margin: 0 10px;
}

.informacion-box .direccion {
    display: flex;
    align-items: center;
    margin: 25px auto;

}

.informacion-box .direccion a {
    color: #feca57;
    text-decoration: none;
    padding: 0 10px;
}

.informacion-box .telefono {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin: 5vh 0;
}

.informacion-box .telefono a {
    color: #feca57;
    text-decoration: none;
    padding: 0 10px;
    width: 100%;
    text-align: center;
}


@media(max-width:1024px) {
    .informacion {
        display: grid;
        grid-template-columns: auto auto;
    }

    .informacion .informacion-box {
        width: auto;
    }

    .formulario_input {
        width: 40vw;
    }
}

@media(max-width:614px) {
    .informacion {
        display: grid;
        grid-template-columns: auto;
        padding: 5px;
    }

    .informacion .informacion-box {
        margin: 10px 10px;
    }

    .tarjetas_img {
        width: 290px;
    }

    .formulario_input {
        width: 70vw;
    }
}

@media (max-width:425px) {
    .card {
        width: 300px;
    }
}

