@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.7);
}

header .logo {
    margin: 0 20px;
}

header .menu {
    margin-right: 10px;
    padding: 25px 10px;
}

header .menu a {
    text-decoration: none;
    color: black;
    font-size: 23px;
    padding: 25px 15px;
    font-family: 'Signika Negative', sans-serif;
    transition: 0.2s all;
}

header .menu a:hover {
    background-color: black;
    color: white;

}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0px 30px;
    
    display: none;
}

.desplegable {
    display: none;
}
/*creo barrita del medio*/
.menu-btn .menu-btn_burger {
    width: 30px;
    height: 3px;
    background: #000000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(233, 147, 249, 0.2);
    transition: all 0.5s ease-in-out;
}
/*creo barrita de arriba y de abajo */
.menu-btn .menu-btn_burger::before,
.menu-btn .menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: #000000;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(233, 147, 249, 0.2);
    transition: all 0.5s ease-in-out;
}
/*aca le digo que se mueva en el eje Y hacia arriba*/
.menu-btn .menu-btn_burger::before {
    transform: translateY(-11px);
}
/*aca le digo que se mueva en el eje Y hacia abajo*/
.menu-btn .menu-btn_burger::after {
    transform: translateY(11px);
}
/*muevo la barra hacia la izquierda y que desaparezca*/
.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
/*muevo la barra para formar la cruz*/
.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

@media(max-width:768px) {
    header .menu {
        margin-right: 0;
        padding: 25px 0px;
    }
    header .menu a {
        padding: 15px 15px;
    }
    
    header .menu .desplegable {
        display: none;
    }
}

@media(max-width:734px) {
    header .menu>a {
        display: none;
    }
    header .navbar a {
        padding: 15px 15px;
    }
    header .navbar .menu-btn {
        display: none;
    }
    header .navbar .desplegable {
        display: none;
    }

    a:hover {
        border-bottom: none;
        margin: 0;
        padding: 0;
    }

    .menu-btn {
        display: flex;
    }

    .desplegable {
        background-color: rgba(255, 255, 255, 0.6);
        display: none;
        position: absolute;
        height: auto;
        width: 100vw;
        top: 100%;
        left: 0;
        z-index: 2;
    }

    .desplegable>a {
        color: black;
        text-decoration: none;
        display: block;
        font-size: 20px;
        padding: 16px 10px;
    }

    .desplegable a:hover {
        background-color: WHITE;
        transition: all 0.5s;
        color: black;
    }
}