@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Signika Negative', sans-serif;
}
body{
    background-color:#DBE9F3;
}
section h2 {
    color: #222831;
    text-decoration: none;
    font-size: 35px;
    margin: 20px auto;
    
    text-align: center;
}

.buscador {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.formulario {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.formulario_label,
.formulario_input,
.formulario_button {
    padding: 1px;
    display: block;
}

.formulario_label {
    font-size: 17px;
    position: absolute;
    z-index: 1;
    margin-top: 17px;
    margin-left: 70px;
    transition: 0.2s;
    color: #4E4E4E;
}

.formulario_input {
    width: 30vw;
    font-size: 15px;
    border: 1px solid #4D4D4D;
    margin-left: 55px;
    margin-bottom: 30px;
    padding: 20px;
    outline: none;
    border-radius: 10px;
    transition: 0.2s all;
    color: #222831;
    background-color: white;
}

.formulario_input:focus .formulario_label {
    margin-top: -150px;
    background-color: white;
    border-radius: 20px;
}

.fijar {
    margin-top: 3px;
    font-size: 13px;
    margin-left: 65px;
}

.formulario .formulario_button {
    height: 12%;
    padding: 13px;
    position: relative;
    left: -52px;
    top: 0.4px;
    margin: 0 auto;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #222831;
    outline: none;
    color: white;
    background-color: #222831;
    font-size: 25px;
    transition: 0.2s all;
}

.formulario .formulario_button:hover {
    background-color: #222831;
    cursor: pointer;
}

article {
    display: grid;
    grid-template-columns: auto auto;
    margin: 0 auto;
}

.instalacion {
    width: 45%;
    margin: 20px auto;
    border: 1px solid #222831;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 6px 7px -7px #222831 (0,0,0,0.75);
}

.instalacion .imagen-instalacion img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.instalacion .texto-instalacion {
    padding: 10px 15px;
}

.instalacion .texto-instalacion h3 {
    color: #222831;
    font-size: 25px;
    padding: 10px 0;
}

.instalacion .texto-instalacion p {
    color: #222831;
}

.instalacion .boton-instalacion {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
}
.instalacion .boton-instalacion button:hover{
    cursor: pointer;
}
.instalacion .boton-instalacion button {
    background-color: #222831;
    border: none;
    outline: none;
    color: white;
    font-size: 17px;
    padding: 10px 15px;
    margin-right: 25px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px -7px rgba(0,0,0,0.75);
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

@media (max-width:1024px) {
    .instalacion {
        width: 70%;
    }

    .formulario_input {
        width: 50vw;
    }
}

@media (max-width:768px) {
    .instalacion {
        width: 90%;
    }
}
@media (max-width:600px) {
    article {
        grid-template-columns: auto;
        margin: 0 auto;
    }
    .instalacion{
        width: 50vw;
    }
}
@media (max-width:425px) {
    .instalacion{
        width: 80vw;
    }
}
/*----DIV INFORMACION----*/
.informacion {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    background-color:#222f3e;
}

.informacion .informacion-box {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 10px 50px;
    width: 50vw;
    text-align: center;
    color: #feca57;
    padding: 20px 0;
    flex-direction: column;
}

.informacion .informacion-box-especial {
    text-align: left;
}

.titulo-icono-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-icono {
    margin-left: 10px;
}

.informacion #metodos_pago {
    color: #feca57;
    margin-left: 20px;
    text-align: left;
}

.metodo_img {
    font-size: 5rem;

}

.informacion .informacion-box h3 {
    font-size: 28px;
}

.informacion-box .social,
.informacion-box .direccion,
.informacion-box .telefono {
    display: flex;
    padding: 10px 15px;
    font-size: 21px;
}

.informacion-box .social a {
    color: #feca57;
    text-decoration: none;
    margin: 0 10px;
}

.informacion-box .direccion {
    display: flex;
    align-items: center;
    margin: 25px auto;

}

.informacion-box .direccion a {
    color: #feca57;
    text-decoration: none;
    padding: 0 10px;
}

.informacion-box .telefono {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin: 5vh 0;
}

.informacion-box .telefono a {
    color: #feca57;
    text-decoration: none;
    padding: 0 10px;
    width: 100%;
    text-align: center;
}


@media(max-width:1024px) {
    .informacion {
        display: grid;
        grid-template-columns: auto auto;
    }

    .informacion .informacion-box {
        width: auto;
    }

    .formulario_input {
        width: 40vw;
    }
}

@media(max-width:614px) {
    .informacion {
        display: grid;
        grid-template-columns: auto;
        padding: 5px;
    }

    .informacion .informacion-box {
        margin: 10px 10px;
    }

    .tarjetas_img {
        width: 290px;
    }

    .formulario_input {
        width: 70vw;
    }
}

@media (max-width:425px) {
    .card {
        width: 300px;
    }
}
