* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Signika Negative", sans-serif;
    background-color: #DBE9F3;
}

.tituloprincipal {
    color: #1ebafd;
    text-decoration: underline;
    font-size: 35px;
    margin: 20px auto;
    text-align: center;
}


.title2 {
    color: #1ebafd;
    text-decoration: underline;
    font-size: 25px;
}

.imagen_caja {
    max-height: 300px;
    max-width: 400px;
}

.contenedor_texto p {
    color: #1ebafd;
    font-size: 15px;
    margin-top: 20px;
}

.primeracaja {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 1px 1px #d6e0f0, 5px 0 0.4em rgb(161, 159, 159);
    width: 75%;
}

.contenedor_texto {
    width: 40%;
}

@media (max-width: 768px) {
    .primeracaja {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .contenedor_texto {
        width: 90%;
        padding: 1em;
    }

    .imagen_caja {
        width: 100%;
        margin: 1em;
    }
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}